@import 'tailwindcss';
@plugin "@iconify/tailwind4";

@theme {
  --color-background: var(--background);
  --color-primary: #865ede;
  --color-secondary: var(--text-secondary);
  --color-border: var(--border);
}

@layer base {
  :root {
    --background: #f6f3ff;
    --text-primary: #000;
    --text-secondary: #515151;

    --border: #865ede33;
  }

  .dark {
    --background: #060407;
    --text-primary: #fff;
    --text-secondary: #99a1af;

    --border: #f1f1f11a;
  }
}

@layer utilities {
  html,
  body {
    background-color: var(--background);
    color: var(--text-primary);
    @apply m-0 w-full h-full selection:bg-primary/20 selection:text-primary;
  }

  .skill-container {
    @apply border border-border p-4 rounded-lg flex flex-col w-full  gap-5;
  }

  .skill {
    @apply border border-border px-2 py-1 rounded-lg flex gap-2 items-center justify-center;
  }
}
